extends layout.pug
block content
  .jumbotron.jumbotron-fluid.jumbotron-singleCourse.text-center.bg-transparent
    .bg-primary-transparent.position-fixed.left.top.z-minus.h-100
      img.half-transparent.w-100.h-100.object-fit-cover(src='/media/bg2.jpg')
    .jumbotron-courses-container.text-white
      h1.display-1.mt-5.mb-3.text-white Наши Реквизиты
 

  .container.py-3.bg-white
    .row
      .col
        .row
        div.my-5
          p.lead <strong>Адреса юридична:</strong> 57284, Миколаївська обл.., Вітовський район, село Лимани, вул. Фрунзе,130
          p.lead <strong>Місцезнаходження:</strong> 54051, м. Миколаїв, проспект Богоявленський, 340/5
          p.lead <strong>ІПН</strong> 192855514204, <strong>свідоцтво ПДВ</strong> 100115826
          p.lead <strong>Телефон/факс:</strong> (0512) 64-14-84, 64-13-84
          p.lead <strong>Адреса поштова:</strong> 54051, м. Миколаїв, а/с 100
          p.lead <strong>Код ЄДРПОУ 19285554</strong>
          p.lead <strong>Р/р 26002039848702</strong> в ПАТ УкрСиббанк, м. Київ, МФО 351005
          p.lead <strong>Електрона адреса:</strong> numpa@ukr.net
          p.lead <strong>Директор</strong> – Валієв Рашит Равільович
          p.lead <strong>Гол.бухгалтер</strong> – Дронь Жанна Андріївна