mixin home 
  .homeSection 
    div.mainHome.d-flex 
      div.contentHome.m-auto
        .col.mx-1.text-center
          p.startYour.h1 Бурение Проектирование
          p.digitalCareer.h1.mb-5 Инженерные Сети
          p.subtitle.subtitle-jumbotron.h2.mb-5 <strong><u>8(0512)64-13-84</u> |</strong> <strong><u>8(099)316-56-72</u></strong>
          .m-auto.buttonRow.text-center
             a.btn.btn-lg.btn-gradient-secondary.mr-4(href='#ourcourses', role='button') Виды Работ      
             button.btn.btn-lg.btn-gradient-primary.mr-4(data-toggle='modal', data-target='#contactFormModal') Заявка
             a.btn.btn-lg.btn-gradient-third.phone(href="tel:0512641384", role='button') Вызов

      
    
