mixin statsCounter
  section#stats.section-counter.py-5.mb-5.bg-light
    .container.container-counter
      .section-title-area
        h2.display-1.text-center.text-uppercase Почему Мы?
        h3.mb-5.text-center.text-muted Потому что мы надежны
      .row.mx-5
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.counter-count 2650
            .text-muted Скважин
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.counter-count 186
            .text-muted Проектов
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.counter-count 4670
            .text-muted Объектов Строительства
        .col-sm-6.col-md-3
          .counter-item
            .counter-number
              span.counter-count 28
            .text-muted Лет на рынке
      
